* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --color-primary-pure-black: #000000;
  --color-primary-near-black-grey: #303030;

  --color-secondary-pure-white: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/mobile/bg-image-daytime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 3rem 2.5rem 4rem;
  height: 100vh;
  overflow: hidden;
}

p {
  color: var(--color-secondary-pure-white);
}

.inactive {
  display: none;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 57.3rem;
}

.quote {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22.7rem;
}

.quote-animation {
  animation: hidequote 1s ease-out forwards;
}

@keyframes hidequote {
  0% {
    opacity: 1;
    margin-bottom: 22.7rem;
  }

  100% {
    opacity: 0;
    margin-bottom: -9.5rem;
  }
}

.quote-text {
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: left;
  margin-bottom: 0.8rem;
}

.quote-author {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: left;
}

.quote img:hover {
  cursor: pointer;
}

.day-type {
  display: flex;
  align-items: center;
}

.day-type-text {
  margin-left: 1.3rem;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.clock {
  display: flex;
  align-items: baseline;
  color: var(--color-secondary-pure-white);
  margin-bottom: 1rem;
}

.clock-time {
  display: flex;
  align-items: center;
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: -0.25rem;
  margin-right: 1.3rem;
}

.clock-divider {
  margin-bottom: 1.5rem;
}

.clock-zone {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.location {
  display: flex;
  flex-direction: column;
}

.location-city {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.3rem;
  color: var(--color-secondary-pure-white);
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary-pure-white);
  width: 11.5rem;
  height: 3.9rem;
  padding: 0.4rem;
  border-radius: 2.8rem;
  margin-bottom: 4rem;
}

.toggle:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.toggle-text {
  text-transform: uppercase;
  color: var(--color-primary-pure-black);
  opacity: 0.5;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
  text-align: center;
  margin-left: 1.7rem;
  letter-spacing: 0.375rem;
}

.toggle-btn {
  border: none;
  outline: none;
  background-color: var(--color-secondary-pure-white);
  border-radius: 2.8rem;
}

.slide-up {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4rem);
  overflow-x: hidden;
  transition: 1.5s;
}

.toggleSlide {
  height: 40%;
}

.slide-up-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 16rem;
  padding: 4.8rem 2.6rem;
  overflow: hidden;
}

.slide-up-text p {
  font-size: 1rem;
  line-height: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--color-primary-near-black-grey);
}

.slide-up-text h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: right;
  color: var(--color-primary-near-black-grey);
}

.time-zone,
.time-year,
.time-week,
.time-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
